.formularios-config-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.formularios-results-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.selector-fecha-hora-container {
    display: flex;
    flex-direction: column;
}

.input-container {
    margin-bottom: 30px;
}

.administration-title {
    display: flex;
    width: 100%;
    justify-content: center;
}

.fecha_inhabil_admin_container {
    display: flex;
}

.listItemContainer {
    display: flex;
    align-items: center;
}

.admin_eliminar_horario_especifico_cargado,
.admin_eliminar_horario_especifico_button {
    height: 30px;
}